<div class="container">
  <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <form role="form" ng-submit="finishPartnerCategoryEdit()">
            <div class="form-group">
              <input type="text" class="form-control input-sm" placeholder="Descripción" ng-model="partner_category.description" required>
            </div>
            <div class="form-group">
              <input type="number" class="form-control input-sm" placeholder="Precio de la cuota" ng-model="partner_category.price" required>
            </div>
            <input type="submit" value="Guardar categoría" class="btn btn-success btn-block">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
