<div class="row">
  <div class="panel panel-body">
    <h1>Categoría:</h1>  
    <h2>{{partnerCategory.description}}</h2>
    <div class="well">
      <h3>
        Precio mensual: {{partnerCategory.price}}
      </h3>
    </div>
  </div>
</div>
<div class="row" ng-show="current_user.is_admin">
  <a href="#/partner_categories/{{partnerCategory.id}}/edit" class="btn btn-primary" type="button">
    Editar categoría
  </a>
</div>
<br/>
<div class="panel panel-default">
  <div class="panel-heading">
    Socios con categoría {{partnerCategory.description}}
  </div>
  <div class="panel-body" data-ng-include src="'views/partners/partners-list.html'"></div>
  <div class="panel-body">
    <h3> 
      <div class="label label-default">
          Total de cuotas pendientes: {{partnerCategory.total_overdue_quotas_count}}
      </div>
      <div class="label label-default pull-right">
          Monto total adeudado: {{partnerCategory.total_overdue_quotas_pending_amount}}
      </div>
    </h3> 
  </div>
</div>
