<div class="row" ng-show="current_user.is_admin">
  <a href="#/new_partner_category" class="btn btn-primary" type="button">
    Nueva categoría
  </a>
</div>
<br/>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      Categorías
    </div>
    <div class="panel-body">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Precio de cuota actual</th>
            <th>Cantidad de clientes</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="partnerCategory in partnerCategories">
            <td><a href="#/partner_categories/{{partnerCategory.id}}">{{partnerCategory.description}}</a></td>
            <td>{{partnerCategory.price}}</td>
            <td><span class="badge">{{partnerCategory.partners_count}}</span></td>
          </tr>
          <tr data-ng-show="partnerCategories.length <= 0">
            <td colspan="3" style="text-align:center;">No hay categorías</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
