<div class="container">
  <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Emitir recibo para 
            <a href="{{receipt.partner.route()}}" class="label label-success">
              {{receipt.partner.full_name}}
            </a>
          </h3>
        </div>
        <div class="panel-body">
          <table class="table table-condensed well well-status">
            <thead>
              <tr>
                <th>Motivo</th>
                <th>Monto</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="line in receipt.quota_lines track by $index">
                <td>{{line.description}}</td>
                <td>{{line.amount}}</td>
              </tr>
              <tr data-ng-repeat="line in receipt.seminary_lines track by $index">
                <td>{{line.description}}</td>
                <td>{{line.amount}}</td>
              </tr>
              <tr data-ng-repeat="line in receipt.other_lines track by $index">
                <td>{{line.description}}</td>
                <td>{{line.amount}}</td>
              </tr>
              <tr data-ng-show="(receipt.quota_lines.length + receipt.other_lines.length + receipt.seminary_lines.length) <= 0">
                <td colspan="3" style="text-align:center;">
                  No se ha cargado ningún renglón
                </td>
              </tr>
            </tbody>
          </table>
          <tabset justified="true">
            <tab heading="Pago de cuota">
              <div class="well well-status">
                <div class="row">
                  <div class="col-md-6">
                    <div data-ng-include src="'views/partners/quotas/coming-card.html'"></div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <strong>Monto a pagar ahora: </strong>
                    </div>
                    <div class="row">
                      <form role="form" ng-submit="addQuotaLine()">
                        <div class="form-group">
                          <input 
                            type="number"
                            class="input-sm form-control"
                            ng-model="newQuotaLine.amount"
                            min="0" 
                            max="{{newQuotaLine.quota.pending_amount}}"
                            required>
                        </div>
                        <div class="form-group">
                          <select ng-options="m.id as (m.description | paymentMethod) for m in paymentMethods" class="form-control input-sm" ng-model="newQuotaLine.payment_method" required>
                            <option value="" disabled selected>Forma de pago</option>
                          </select>
                        </div>
                        <input type="submit" value="Agregar al recibo" class="btn btn-info btn-block">
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
            <tab heading="Seminarios">
              <div class="well well-status">
                <form role="form" ng-submit="addSeminaryLine()">
                  <div class="row">
                    <div class="col-md-10">
                      <div class="row">
                        <div class="col-md-8">
                          <select ng-options="seminary as seminary.description for seminary in seminaries" class="form-control input-sm" ng-model="newSeminaryLine.seminary_offer" required>
                            <option value="" disabled selected>Seminario</option>
                          </select>
                        </div>
                        <div class="col-md-4">
                          <div class="label label-success">
                            Costo completo: ${{newSeminaryLine.seminary_offer.price}}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <input 
                          type="number"
                          class="input-sm form-control"
                          ng-model="newSeminaryLine.amount"
                          min="0"
                          required>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group">
                      <select ng-options="m.id as (m.description | paymentMethod) for m in paymentMethods" class="form-control input-sm" ng-model="newSeminaryLine.payment_method" required>
                        <option value="" disabled selected>Forma de pago</option>
                      </select>
                    </div>
                  </div>
                  <br/>
                  <div class="form-group">
                    <input type="submit" value="Agregar al recibo" class="btn btn-info btn-block">
                  </div>
                </form>
              </div>
            </tab>
            <tab heading="Otro motivo">
              <div class="well well-status">
                <form role="form" ng-submit="addOtherLine()">
                  <div class="row">
                    <div class="col-md-10">
                      <input 
                        type="text"
                        class="input-sm form-control"
                        ng-model="newOtherLine.description"
                        required>
                    </div>
                    <div class="col-md-2">
                      <div class="row">
                        <div class="form-group">
                          <input 
                            type="number"
                            class="input-sm form-control"
                            ng-model="newOtherLine.amount"
                            min="0" 
                            required>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group">
                      <select ng-options="m.id as (m.description | paymentMethod) for m in paymentMethods" class="form-control input-sm" ng-model="newOtherLine.payment_method" required>
                        <option value="" disabled selected>Forma de pago</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="submit" value="Agregar al recibo" class="btn btn-info btn-block">
                  </div>
                </form>
              </div>
            </tab>
          </tabset>
          <form role="form" ng-submit="createReceipt()">
            <div class="row">
              <div class="col-xs-2">
                <select ng-options="l as l for l in ['A','B','C']" class="form-control input-sm" ng-model="legal_code.letter" required>
                  <option value="" disabled selected>Tipo</option>
                </select>
              </div>
              <div class="col-xs-4">
                <div class="form-group">
                  <input type="number" class="input-sm form-control" ng-model="legal_code.place" 
                  min="0" max="9999" required>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <input type="number" class="input-sm form-control" ng-model="legal_code.instance" 
                  min="0" max="99999999" required>
                </div>
              </div>
            </div>
            <input type="submit" value="Terminar recibo" class="btn btn-warning btn-block">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
