<div class="panel">
  <p>
    <span class="label label-danger">
      <strong>Monto pendiente: </strong>{{newQuotaLine.quota.pending_amount}}
    </span>
  </p>
  <small>
    <p>
      <strong>Año: </strong>{{newQuotaLine.quota.year}}
    </p>
    <p>
      <strong>Mes: </strong>{{newQuotaLine.quota.month | spanishifyMonthNumber}}
    </p>
    <p>
      <strong>Categoría en este período: </strong> 
      <a href="#/partner_categories/{{newQuotaLine.quota.partner_category.id}}">
        {{newQuotaLine.quota.partner_category.description}}
      </a>
    </p> 
    <p>
      <strong>Precio: </strong>{{newQuotaLine.quota.price}}
    </p>
  </small>
</div>
