body {
  padding-top: 75px;
}

body{
  background-color: #66CCCC;
}
.centered-form{
  margin-top: 60px;
}

.centered-form .panel{
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.nav, .pagination, .carousel, .panel-title a { 
  cursor: pointer; 
}

.amount {
  text-align: right;
}
