<div class="container">
  <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <form role="form" ng-submit="createSession()">
            <div class="form-group">
              <input type="text" class="form-control input-sm" placeholder="Usuario" ng-model="user.username" required>
            </div>
            <div class="form-group">
              <input type="password" class="form-control input-sm" placeholder="Contraseña" ng-model="user.password" required>
            </div>
            <input type="submit" value="Iniciar sesión" class="btn btn-success btn-block">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
