<div class="container">
  <div class="row centered-form">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <form role="form" ng-submit="finishSeminaryEdit()">
            <div class="form-group">
              <input type="text" class="form-control input-sm" placeholder="Título de seminario" ng-model="seminary.title" required>
            </div>
            <div class="form-group input-group">
              <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
              <input type="number" class="form-control input-sm" placeholder="Precio general" ng-model="seminary.default_price" min="0" required>
            </div>
            <!--
            <div align="center">
              <datetimepicker data-ng-model="seminary.held_on"></datetimepicker>
            </div>
            -->
            <div class="form-group">
              <input type="submit" value="Guardar" class="btn btn-success btn-block">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
