<div class="row" ng-show="current_user.is_admin">
  <a href="#/new_seminary" class="btn btn-primary" type="button">
    Nuevo seminario
  </a>
</div>
<br/>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      Seminarios
    </div>
    <div class="panel-body">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Título</th>
            <!--<th>Comienzo</th>-->
            <th>Precio general</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="seminary in seminaries">
            <td><a href="#/seminaries/{{seminary.id}}">{{seminary.title}}</a></td>
            <!--
            <td>
              <div class="label label-default">
                <i class="glyphicon glyphicon-calendar"></i>
                {{seminary.held_on_description}}
              </div>
            </td>
            -->
            <td><span class="badge">${{seminary.default_price}}</span></td>
          </tr>
          <tr data-ng-show="seminaries.length <= 0">
            <td colspan="3" style="text-align:center;">No hay seminarios</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
