<div class="row">
  <h2>Seminario: {{seminary.title}}</h2>
  <!--
  <h3>
    <i class="glyphicon glyphicon-calendar"></i> Comienzo: {{seminary.held_on_description}}
  </h3>
  -->
  <h3>
    Precio general: <i class="fa fa-dollar"></i> {{seminary.default_price}}
  </h3>
</div>
<div class="row" ng-show="current_user.is_admin">
  <a href="#/seminaries/{{seminary.id}}/edit" class="btn btn-primary" type="button">
    Editar seminario
  </a>
</div>
<br/>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <b>Precios diferenciados:</b>
    </div>
    <div class="panel-body">
      <table class="table table-condensed">
        <tbody>
          <tr data-ng-repeat="category_price in categories_prices">
            <td>
              <a href="#/partner_categories/{{category_price.partner_category_id}}" class="label label-success">
                {{category_price.partner_category_description}}
              </a>
            </td>
            <td><span class="badge"><i class="fa fa-dollar"></i>{{category_price.price}}</span></td>
          </tr>
          <tr data-ng-show="categories_prices.length <= 0">
            <td colspan="3" style="text-align:center;">No hay precios diferenciados</td>
          </tr>
        </tbody>
      </table>
      <div data-ng-show="(categories.length > 0) && current_user.is_admin">
        <p colspan="3" style="text-align:center;">
          Asignar un precio especial a una categoría
        </p>
        <form role="form" ng-submit="addCategoryPrice()">
          <div class="col-md-6">
            <div class="form-group">
              <select type="number" class="form-control input-sm" ng-model="newCategoryPrice.partner_category_id" convert-to-number required>
                <option value="" disabled selected>Categoría</option>
                <option ng-repeat="partnerCategory in categories" value="{{partnerCategory.id}}">{{partnerCategory.description}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <input type="number" class="form-control input-sm" placeholder="Precio" ng-model="newCategoryPrice.price" required>
            </div>
          </div>
          <div class="col-md-3">
            <input type="submit" value="Guardar" class="btn btn-success btn-block">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

