<div class="container">
  <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Datos del cliente</h3>
        </div>
        <div class="panel-body">
          <form role="form" ng-submit="finishPartnerEdit()">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control input-sm" placeholder="Nombre/s" ng-model="partner.first_name" required>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control input-sm" placeholder="Apellido/s" ng-model="partner.last_name" required>
                </div>
              </div>
            </div>

            <div class="form-group">
              <input type="email" class="form-control input-sm" placeholder="Direccion de email" ng-model="partner.email">
            </div>

            <div class="form-group">
              <input type="text" class="form-control input-sm" placeholder="CUIT" ng-model="partner.cuit">
            </div>

            <div class="form-group">
              <input type="number" min="0" max="999999" class="form-control input-sm" placeholder="Número identificador" ng-model="partner.identificator">
            </div>

            <div class="well">
              <b>Domicilio</b>
              <div class="form-group">
                <input type="text" class="form-control input-sm" placeholder="Direccion" ng-model="partner.address">
              </div>
              <div class="form-group">
                <input type="text" class="form-control input-sm" placeholder="Localidad" ng-model="partner.place">
              </div>
              <div class="form-group">
                <input type="text" class="form-control input-sm" placeholder="Código postal" ng-model="partner.postal_code">
              </div>
              <div class="form-group">
                <input type="text" class="form-control input-sm" placeholder="Provincia" ng-model="partner.province">
              </div>
            </div>

            <div class="form-group">
              <select type="number" class="form-control input-sm" ng-model="partner.actual_partner_category_id" convert-to-number required>
                <option value="" disabled selected>Categoría</option>
                <option ng-repeat="partnerCategory in partnerCategories" value="{{partnerCategory.id}}">{{partnerCategory.description}}</option>
              </select>
            </div>

            <input type="submit" value="Guardar" class="btn btn-info btn-block">
          
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
