<table class="table table-condensed">
  <thead>
    <tr>
        <th>Identificador</th>
        <th>Nombre</th>
        <th>CUIT</th>
        <th>Cuotas atrasadas</th>
        <th>Total adeudado</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="partner in (filtered = ((partners | filter:query) | hasMiniumOverdueQuotasCount:miniumOverdueQuotasCount)) | orderBy:orderProp">
      <td style="text-align:center;"><strong class="label label-default">{{partner.identificator}}</strong></td>
      <td><a href="{{partner.route()}}" class="label label-success">{{partner.full_name}}</a></td>
      <td>{{partner.cuit}}</td>
      <td><span class="badge">{{partner.overdue_quotas_count}}</span></td>
      <td>
        <span class="badge">
          <i class="fa fa-dollar"></i>{{partner.overdue_quotas_amount}}
        </span>
      </td>
    </tr>
    <tr data-ng-show="filtered.length <= 0">
      <td colspan="3" style="text-align:center;">No hay resultados para la busqueda '{{query}}'</td>
    </tr>
  </tbody>
</table>
