<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 panel panel-default">
      <div class="panel-body">
        <form class="row">
          <div class="form-group">
            <input ng-model="query" type="text" class="form-control" placeholder="Búsqueda">
          </div>
        </form>
        <form class="row">
          <b>Mínimo de cuotas atrasadas:</b>
          <div class="form-group">
            <select 
              ng-init="miniumOverdueQuotasCount = 0" 
              class="form-control input-sm" 
              ng-model="miniumOverdueQuotasCount" 
              ng-options="n for n in [0,1,2,3,4,5,6,7,8,9,10,11,12]">
            </select>
          </div>
        </form>
        <div class="row">
          <div class="form-group">
            <select type="text" class="form-control input-sm" ng-model="orderProp">
              <option value="" disabled selected>Ordenar por</option>
              <option value="full_name">Alfabético</option>
              <option value="-overdue_quotas_amount">Total adeudado</option>
            </select>
          </div>
        </div>
        <div class="row">
          <a href="#/new_partner" class="btn btn-primary" type="button">
            <i class="fa fa-plus-square"></i> Nuevo cliente
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="panel panel-info">
        <div class="panel-heading">
          <b>Clientes</b>
        </div>
        <div data-ng-include src="'views/partners/partners-table.html'"></div>
      </div>
    </div>
  </div>
</div>
