<h1>
  <div class="row">
    {{ partner.last_name }}, {{ partner.first_name }}
    <a class="btn btn-warning" href="#/partners/{{partner.id}}/receipts/new">
      <strong>
        <i class="fa fa-file-text-o"></i> 
        Emitir recibo
      </strong>
    </a>
    <a class="btn btn-success" href="#/partners/{{partner.id}}/edit">
      <strong>
        <i class="fa fa-file-text-o"></i> 
        Editar
      </strong>
    </a>
  </div>
</h1>
<strong>
  <div class="panel panel-info panel-body">
    <p>
      Cuotas pendientes: {{partner.overdue_quotas_count}}
    </p>
    <p>
      Número identificador: {{partner.identificator}}
    </p>
    <p>
      Email: {{partner.email}}
    </p>
    <p>
      Categoría: 
      <a href="#/partner_categories/{{partner.actual_partner_category.id}}">
        {{partner.actual_partner_category.description}}
      </a>
    </p>
    <div class="row">
      <div class="col-md-6">
        <u>Domicilio:</u>
        <div class="well">
          <p>
            Dirección: {{partner.address}}
          </p>
          <p>
            Localidad: {{partner.place}}
          </p>
          <p>
            Código postal: {{partner.postal_code}}
          </p>
          <p>
            Provincia: {{partner.province}}
          </p>
        </div>
      </div>
    </div>
  </div>
</strong>
  
<div class="panel panel-info" ng-show="partner.paying">
  <div class="panel-heading">
    Cuotas de {{partner.first_name}}
  </div>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Año</th>
        <th>Mes</th>
        <th>Categoría</th>
        <th>Pagada</th>
        <th>Monto impago</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="quota in quotas">
        <td>{{quota.year}}</td>
        <td>{{quota.month | spanishifyMonthNumber}}</td>
        <td><a href="#/partner_categories/{{quota.partner_category.id}}">{{quota.partner_category.description}}</a></td>
        <td>{{quota.completely_paid | checkmark}}</td>
        <td>{{quota.pending_amount}}</td>
      </tr>
      <tr data-ng-show="partner.quotas.length <= 0">
        <td colspan="3" style="text-align:center;">No hay cuotas</td>
      </tr>
    </tbody>
  </table>
</div>
<br/>
<div class="panel panel-info">
  <div class="panel-heading">
    Recibos de {{partner.first_name}}
  </div>
  <receipts-table receipts="receipts"></receipts-table>
</div>
