<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
    <div class="row">
      <a class="btn btn-success" href="#/users/new">Crear usuario</a>
    </div>
    <br/>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Usuario</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="user in users">
                <td><div class="label label-info">{{user.username}}</div></td>
                <td ng-show="{{!user.is_admin}}">
                  <button ng-click="delete(user)" class="label label-danger">
                    eliminar
                  </button>
                </td>
              </tr>
              <tr data-ng-show="users.length <= 0">
                <td colspan="3" style="text-align:center;">No hay usuarios</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
