<form role="form"  ng-init="fromUpToChanged()">
  <div class="well">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group" style="display:inline-block; min-height:290px;">
          <strong>Desde:</strong>
          <datepicker ng-click="fromUpToChanged()" ng-model="from" show-weeks="true" class="well well-sm" required></datepicker>
        </div>
      </div>
      <div class="col-md-6">
        <div class="pull-right form-group" style="display:inline-block; min-height:290px;">
          <strong>Hasta:</strong>
          <datepicker ng-click="fromUpToChanged()" ng-model="upTo" show-weeks="true" class="well well-sm" required></datepicker>
        </div>
      </div>
    </div>
  </div>
</form>
