<div ng-show="current_user.logged" class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="HeaderCtrl">
  <div class="container">
    <!--/.navbar-collapse -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li data-ng-class="{active:isActive('/')}">
          <a href="#/partners"><i class="fa fa-globe"></i> Clientes</a>
        </li>
        <li data-ng-class="{active:isActive('/')}">
          <a href="#/partner_categories"><i class="fa fa-star"></i> Categorias</a>
        </li>
        <li data-ng-class="{active:isActive('/')}">
          <a href="#/receipts"><i class="fa fa-file-text"></i> Recibos emitidos</a>
        </li>
        <li data-ng-class="{active:isActive('/')}">
          <a href="#/seminaries"><i class="fa fa-calendar"></i> Seminarios</a>
        </li>
        <li data-ng-class="{active:isActive('/')}" dropdown>
          <a id="single-button" type="button" dropdown-toggle ng-disabled="disabled">
            <i class="fa fa-file-pdf-o"></i> Informes
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
            <li role="menuitem">
              <a href="#/payments"><i class="fa fa-money"></i> Cobros</a>
            </li>
            <li role="menuitem">
              <a href="#/pending_quotas"><i class="fa fa-exclamation"></i> Cuotas pendientes</a>
            </li>
          </ul>
        </li>
        <li data-ng-class="{active:isActive('/')}" ng-show="current_user.is_admin">
          <a href="#/users"><i class="fa fa-users"></i> Usuarios</a>
        </li>
        <li data-ng-class="{active:isActive('/')}" dropdown>
          <a id="single-button" type="button" dropdown-toggle ng-disabled="disabled">
            <i class="fa fa-wrench"></i> Configuración
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
            <li role="menuitem">
              <a href="#/users/{{current_user.id}}/edit">De usuario</a>
            </li>
          </ul>
        </li>
        <li data-ng-class="{active:isActive('/')}" ng-click="logout()">
          <a><i class="fa fa-user-times"></i> Salir</a>
        </li>
      </ul>
    </div>
  </div>
</div>
