<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <from-up-to-input 
      from="from" 
      up-to="up_to" 
      from-up-to-changed="refreshReport">
    </from-up-to-input>
  </div>
  <div class="col-md-2">
    <button class="btn btn-success" ng-click="download()"><i class="fa fa-download"></i>Descargar</button>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    Recibos
  </div>
  <div class="panel-body">
    <div data-ng-include src="'views/receipts/table.html'"></div>
  </div>
</div>
<div class="row" align="right">
  <h1>
    <div class="label label-default">
      Total: <i class="fa fa-dollar"></i> {{receiptsReport.amount}}
    </div>
  </h1>   
</div>
