<div class="container">
  <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="row">
        <button class="btn btn-success" ng-click="print()">
          <i class="fa fa-print"></i> Imprimir
        </button>
        <button class="btn btn-danger" ng-click="cancel()">
          <i class="fa fa-times"></i> Cancelar recibo
        </button>
      </div>
      <br/>
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              <b>
                <div class="row">
                  <div class="col-md-4">
                    Cliente: <a href="#/partners/{{receipt.client_id}}">{{receipt.client_full_name}}</a>
                  </div>
                  <div class="col-md-4">
                    Fecha: {{receipt.date_of_issue_simple_description}} 
                  </div>
                  <div class="col-md-4">
                    Código: {{receipt.legal_code_description}}
                  </div>
                </div>
              </b>
            </div>
          </div>
          <div class="panel-body">
            <table class="table table-condensed well well-status">
              <thead>
                <tr>
                  <th>Motivo</th>
                  <th>Forma de pago</th>
                  <th>Monto</th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="line in receipt.receipt_lines track by $index">
                  <td>{{line.description}}</td>
                  <td>{{line.payment_method | paymentMethod}}</td>
                  <td class="amount">{{line.amount}}</td>
                </tr>
                <tr>
                  <td><b>TOTAL</b></td>
                  <td></td>
                  <td class="amount"><b>{{receipt.full_amount}}</b></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
