<table class="table table-condensed">
  <thead>
    <tr>
      <th>Recibo</th>
      <th>Cliente</th>
      <th>CUIT</th>
      <th>Monto total</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="r in receipts">
      <td><a href="#/receipts/{{r.id}}">{{r.legal_code_description + ' ' + r.date_of_issue_simple_description}}</a></td>
      <td><a href="#/partners/{{r.client_id}}">{{r.client_full_name}}</a></td>
      <td>{{r.client_cuit}}</td>
      <td align="right">{{r.full_amount}}</td>
    </tr>
    <tr data-ng-show="receipts.length <= 0">
      <td colspan="3" style="text-align:center;">No hay recibos</td>
    </tr>
  </tbody>
</table>
