<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <from-up-to-input from="from" up-to="up_to" from-up-to-changed="getReview"></from-up-to-input>
    </div>
    <div class="col-md-2">
      <div class="btn btn-success" ng-click="download()">
        <i class="fa fa-download"></i>Descargar informe
      </div>
    </div>
  </div>

  <single-method-payments-list ng-repeat="paymentReview in each_payment_review.reviews" payment-review="paymentReview"></single-method-payments-list>
  <div class="row">
    <div class="col-xs-6">
      <div class="row" class="panel panel-info panel-body">
        <div class="row" ng-repeat="partnerCategoryReview in each_payment_review.partner_category_reviews">
          <div class="label label-danger">
            Total por {{partnerCategoryReview.partner_category.description}}: $ {{partnerCategoryReview.full_amount}}
          </div>
        </div>  
      </div>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <h3 align="right">
          TOTAL: {{each_payment_review.full_amount}}
        </h3>
      </div>
      <div class="row">
        <h3 align="right">
          TOTAL CUOTAS: {{each_payment_review.quota_amount}}
        </h3>
      </div>
      <div class="row">
        <h3 align="right">
          TOTAL OTROS MOTIVOS: {{each_payment_review.others_amount}}
        </h3>
      </div>
    </div>
  </div>
</div>
