<div data-ng-show="paymentReview.lines.length > 0">
    <div class="row centered-form">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{paymentReview.payment_method_description | paymentMethod}} <span class="badge">{{paymentReview.lines.length}}</span>
        </div>
        <table class="table">
          <strong>
            <tr>
              <th>Fecha</th>
              <th>Recibo</th>
              <th>Motivo</th>
              <th>Nombre del cliente</th>
              <th>CUIT</th>
              <th>Importe</th>
            </tr>
          </strong>
          <tr ng-repeat="line in paymentReview.lines">
            <td>
              {{line.date_of_issue_simple_description}}
            </td>
            <td>
              <a href="#/receipts/{{line.receipt_id}}">{{line.receipt_code}}</a>
            </td>
            <td>
              {{line.description}}
            </td>
            <td>
              <a href="#/partners/{{line.client_id}}">{{line.client_full_name}}</a>
            </td>
            <td>
              {{line.client_cuit}}
            </td>
            <td align="right">
              {{line.amount}}
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>
              <strong>
                TOTAL
              </strong>
            </td>
            <td></td>
            <td></td>
            <td align="right">
              <strong>{{paymentReview.full_amount}}</strong>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
