<div class="container">
  <div class="col-md-2">
    <div class="row">
      <div class="well well-status pull-right">
        <form>
          <small>
            <strong>Mínimo de cuotas atrasadas:</strong>
          </small>
          <input
            class="form-control" 
            type="number" 
            ng-model="overdue_quotas_minium"
            ng-change="refresh()">
          </input>
        </form>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-success" ng-click="download()">
        <i class="fa fa-download"></i>Descargar informe
      </button>
    </div>
  </div>
  <div class="col-md-10">
    <div ng-repeat="category_overdue_quotas in report.categories_overdue_quotas">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <strong>
            <a href="#/partner_categories/{{category_overdue_quotas.category_id}}">
              {{category_overdue_quotas.category_description}}
            </a>
          </strong>
        </div>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Apellido y nombre</th>
              <th>Cuotas</th>
              <th>Importe</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="p in category_overdue_quotas.partners">
              <td><a href="#/partners/{{p.id}}">{{p.full_name}}</a></td>
              <td>{{p.overdue_quotas_count}}</td>
              <td>{{p.overdue_quotas_amount}}</td>
            </tr>
            <tr>
              <td><strong>Total {{category_overdue_quotas.category_description}}</strong></td>
              <td><strong>{{category_overdue_quotas.count}}</strong></td>
              <td><strong>{{category_overdue_quotas.amount}}</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
